<div class="bg-white mb-4 lg:mb-8">
  <div class="max-w-8xl mx-auto px-4">
    <h2 class="font-semibold text-2xl text-center mb-4 lg:text-3xl">{{ section.settings.title }}</h2>
    <div class="text-base text-center space-y-6">{{ section.settings.text }}</div>
  </div>
</div>

{% schema %}
  {
    "name": "SEO Text",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Input title",
        "default": "Title"
      },
      {
        "type": "richtext",
        "id": "text",
        "label": "Input text",
        "default": "<p>Text here</p>"
      }
    ]
  }
{% endschema %}