<div class="bg-gray-100 border-b border-b-gray-200">
  <div class="max-w-8xl mx-auto px-4 py-2">
    <div class="hidden lg:flex lg:justify-between">
      <div class="flex items-center">
        {% render 'icon-truck-fast-duotone', svg_class: "shrink-0 max-w-10 h-7", svg_primary_class: "fill-accent opacity-100", svg_secondary_class: "fill-black" %}
        <div class="ml-2">
          <div class="font-semibold text-[15px]">Vandaag besteld, morgen in huis</div>
          <div class="text-sm">Vanaf 50,- morgen gratis bezorgd</div>
        </div>  
      </div>
      <div class="flex items-center">
        {% render 'icon-screwdriver-wrench-duotone', svg_class: "shrink-0 max-w-10 h-7", svg_primary_class: "fill-accent opacity-100", svg_secondary_class: "fill-black" %}
        <div class="ml-2">
          <div class="font-semibold text-[15px]">Aansluitservice aan huis</div>
          <div class="text-sm">Onze experts helpen je machine aansluiten</div>
        </div>  
      </div>
      <div class="flex items-center">
        {% render 'icon-leaf-duotone', svg_class: "shrink-0 max-w-10 h-7", svg_primary_class: "fill-accent opacity-100", svg_secondary_class: "fill-black" %}
        <div class="ml-2">
          <div class="font-semibold text-[15px]">Mileuvriendelijk</div>
          <div class="text-sm">Minder afval, minder vervuiling</div>
        </div>  
      </div>
      <div class="flex items-center">
        {% render 'icon-stars-duotone', svg_class: "shrink-0 max-w-10 h-7", svg_primary_class: "fill-black opacity-100", svg_secondary_class: "fill-accent" %}
        <div class="ml-2">
          <div class="font-semibold text-[15px]">Uitstekende reviews</div>
          <div class="text-sm">Klantwaardering via TrustPilot</div>
        </div>  
      </div>
    </div>
    <div class="flex lg:hidden" aria-label="USP Bar">
      <div id="splide-usp-bar" class="splide">
        <div class="splide__track">
          <div class="splide__list">
            <div class="splide__slide flex items-center">
              {% render 'icon-truck-fast-duotone', svg_class: "shrink-0 max-w-10 h-7", svg_primary_class: "fill-accent opacity-100", svg_secondary_class: "fill-black" %}
              <div class="ml-2">
                <div class="font-semibold text-[15px]">Vandaag besteld, morgen in huis</div>
                <div class="text-sm">Vanaf 50,- morgen gratis bezorgd</div>
              </div>  
            </div>
            <div class="splide__slide flex items-center">
              {% render 'icon-screwdriver-wrench-duotone', svg_class: "shrink-0 max-w-10 h-7", svg_primary_class: "fill-accent opacity-100", svg_secondary_class: "fill-black" %}
              <div class="ml-2">
                <div class="font-semibold text-[15px]">Aansluitservice aan huis</div>
                <div class="text-sm">Onze experts helpen je machine aansluiten</div>
              </div>  
            </div>
            <div class="splide__slide flex items-center">
              {% render 'icon-leaf-duotone', svg_class: "shrink-0 max-w-10 h-7", svg_primary_class: "fill-accent opacity-100", svg_secondary_class: "fill-black" %}
              <div class="ml-2">
                <div class="font-semibold text-[15px]">Mileuvriendelijk</div>
                <div class="text-sm">Minder afval, minder vervuiling</div>
              </div>  
            </div>
            <div class="splide__slide flex items-center">
              {% render 'icon-stars-duotone', svg_class: "shrink-0 max-w-10 h-7", svg_primary_class: "fill-black opacity-100", svg_secondary_class: "fill-accent" %}
              <div class="ml-2">
                <div class="font-semibold text-[15px]">Uitstekende reviews</div>
                <div class="text-sm">Klantwaardering via TrustPilot</div>
              </div>  
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  document.addEventListener( 'DOMContentLoaded', function() {
    var headerUSPBar = new Splide( '#splide-usp-bar', {
      direction: 'ttb',
      autoplay: true,
      height: 43,
      perPage: 1,
      permove: 1,
      arrows: false,
      pagination: false,
    });

    headerUSPBar.mount();
  } );
</script>

{% schema %}
  {
    "name": "USP Bar"
  }
{% endschema %}